.custom_bg{
	background-color: #FFAEC9;
	padding: 10px 0;
	margin-bottom: 10px;
}
.bgc{
	background-color:aqua;
	min-height: 50px;
}
.c_mb{
	margin-bottom: 10px;
}
.red{
	background-color: red;
}